<mat-toolbar color="primary" class="mat-elevation-z4">
    <span>{{title}}</span>
</mat-toolbar>
<div style="padding: 10px;">
    <mat-form-field>
        <input #newTask matInput placeholder="New task"
	 (keydown.enter)="handleTaskAdd(newTask.value);newTask.value=''";
	>
    </mat-form-field>
    <button mat-button color="accent"
        (click)="handleTaskAdd(newTask.value);newTask.value=''"
        [disabled]="!newTask.value">
        ADD
    </button>
</div>
<app-task-list
    [tasks]="tasks"
    (remove)="handleTaskRemove($event)"
></app-task-list>
